                <!-- 우측 컨텐츠 영역 -->
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="login-wrapper">
						<form action="/" method="post" onsubmit="return checkForm()" >
							<div class="login-screen">
								<div class="login-body">
									<a href="#" class="login-logo">
										<img src="/img/logo.svg" alt="Quick Chat" >
									</a>
									<h6>Welcome back,<br>Please login to your account.</h6>
									<div class="field-wrapper">
										<input type="email" name="email" id="email" autofocus>
										<div class="field-placeholder">이메일</div>
									</div>
									<div class="field-wrapper mb-3">
										<input type="password" name="password" id="password">
										<div class="field-placeholder">비밀번호</div>
									</div>
									<p id="message"></p>
									<div class="actions">
										<a href="/find">비밀번호를 잊으셨나요?</a>
										<button type="submit" class="btn btn-primary">로그인</button>
									</div>
								</div>
								<div class="login-footer">
									<span class="additional-link">No Account? <a href="/entry" class="btn btn-secondary">회원가입</a></span>
								</div>
							</div>
						</form>
					</div>
				</div>

				<script>
					function checkForm(){
						if(document.getElementById('email').value == ""){
							console.log(document.getElementById('email').value);
							alert("이메일을 입력해주세요.");
							document.getElementById('email').focus();
							return false;
						}else{
							console.log(document.getElementById('email').value);
						}

						if(document.getElementById('password').value == ""){
							alert("비밀번호를 입력해주세요.");
							document.getElementById('password').focus();
							return false;
						}

						return true;
					}
				</script>

				<script>
					var result = "<%=resultMsg%>";

		
					if(result != ""){
						//alert(result);
						document.getElementById("message").innerText = result;
					}

				</script>
